Bluetooth/Diary.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Diary">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="Rec">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute name="Id" type="xs:unsignedByte" use="required" />
                <xs:attribute name="Status" type="DiaryRecordStatuses" use="required" />
                <xs:attribute name="Alarm" type="DiaryRecordAlarmTypes" use="required" />
                <xs:attribute name="DateTime" type="xs:dateTime" use="required" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <!--Type definition-->
  <xs:simpleType name="DiaryRecordStatuses">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Empty" />      
      <xs:enumeration value="Once" />
      <xs:enumeration value="EveryYear" />
      <xs:enumeration value="EveryMonth" />
      <xs:enumeration value="EveryWeek" />
      <xs:enumeration value="EveryDay" />
    </xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="DiaryRecordAlarmTypes">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="Vibrate" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>